
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<h2>Languages</h2>

<ul>
    <li>@Html.ActionLink("English","Change","MultiLanguages", new { lngName = "en" }, null)</li>
    <li>@Html.ActionLink("Albanian","Change","MultiLanguages", new { lngName = "sq" }, null)</li>
</ul>

