/* HTML */

body {
    background-color: #fff;
}

header {
    border-bottom: 2px solid #eaeaea;
}

    header #upperNav {
        background-color: #E6674A;
        padding: 15px 15px;
    }

    header #lowerNav {
        background-color: #fff;
        padding: 15px 15px;
    }

footer {
    background-color: #eaeaea;
}

.language-selection {
    background-color: #fff;
    border-radius: 50px;
    padding: 5px;
}
/* Used at navbar */


.loginBg{
    background-image:url()

}
/* COLORS */
.white-text {
    color: #fff;
}

.black-text {
    color: #000;
}

.orange-text {
    color: #E6674A;
}

.my-blue {
    background-color: #5C6E91;
}

.my-red {
    background-color: #B53A3A;
}

.my-green {
    background-color: #55838D;
}

.my-orange {
    background-color: #CE6652;
}





/* BUTTONS */

.btn-white {
    background-color: #fff;
    color: #E6674A;
    font-weight: bold;
    border-radius: 50px;
}

.btn-black {
    background-color: #000;
    color: #E6674A;
    font-weight: bold;
    border-radius: 50px;
}










/* BOOTSTRAP CUSTOMIZATION */

.nav-item {
    padding: 0 6px 0 6px;
}










/* HOME CUSTOM CSS */

.positioning-caption {
    top: 40%
}

.category-box {
    padding: 40px;
    text-align: center;
    color: #fff;
}

.custom-image-container .my-book-title {
    margin-top: 30px;
}

.custom-image-container .my-book-price {
    margin-top: -10px;
}

#authorSection .custom-image-container img {
    border-radius: 100%;
}





/* SEARCH PAGE CUSTOM CSS */

.search-cart-btn-height {
    min-height: 100%;
}

.search-image-size {
    min-height: 100%;
    min-width: 100%;
    width: 0;
}

.bigger-text-1 {
    font-size: 1.5em;
}



























/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}


rflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

    #sidebar-wrapper .sidebar-heading {
        padding: 0.875rem 1.25rem;
        font-size: 1.2rem;
    }

    #sidebar-wrapper .list-group {
        width: 15rem;
    }

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}
}*/



.ProductPageContainer{
    margin-top:10vh;
}


.ProductTitle h3{
    color:#555;
}

.btnContainer {
    width: 180px;
    height: 40px;
    position:relative;

}

.btnContainer button {

    background-color:#808080;
}

.ProductDetailsBtn{
    border:none;
    padding:10px 18px;
    font-size:0.9rem;
    color:white;
    cursor:pointer;
    outline:none;
    box-shadow:0px 5px 5px white;
}


.minusBtn, .plusBtn{
    display:none;
    font-size:3rem;
    font-weight:700;


}

.mainBtn {
    width: 2em;
    height: 0.7em;
}