
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}


<main>
    <section class="checkout-roadmap">
        <div class="container">
            <div class="row py-5" style="border-bottom: 2px solid #eaeaea; font-size: 1.6em">
                <div class="col d-flex justify-content-center">
                    <i class="fas fa-home orange-text"></i>
                </div>
                <div class="col d-flex justify-content-center">
                    <i class="fas fa-shipping-fast orange-text"></i>
                </div>
                <div class="col d-flex justify-content-center">
                    <i class="fas fa-money-check orange-text"></i>
                </div>
                <div class="col d-flex justify-content-center">
                    <i class="fas fa-thumbs-up black-text"></i>
                </div>
                <div class="col d-flex justify-content-center">
                    <i class="fas fa-check-circle black-text"></i>
                </div>
            </div>
        </div>
    </section>
    <section id="paymentSection">
        <div class="container">
            <div class="row py-5" style="border-bottom: 2px solid #eaeaea;">
                <div class="col">
                    <h2 class="capital">Payment Methods</h2>
                    <h2 class="text-uppercase font-weight-light " style="font-size: 1.3em;">
                        Choose your payment method
                    </h2>
                </div>
            </div>
            <div class="row py-5" style="border-bottom: 2px solid #eaeaea;">
                <div class="col">
                    <form class="">
                        <div class="form-check p-5" style="border: 2px solid #eaeaea;">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="paymentCrypto" value="option1" checked>
                            <label class="form-check-label font-weight-bold" for="paymentCrypto" style="font-size: 2em; margin-top: -0.4em; margin-left: 0.5em">
                                Pay with Crypto Payment (BitCoin)
                            </label>
                            <p class="mt-3" style="margin-left: 1em">Lorem ipsum dolor amet, signed Crypto Payment</p>
                        </div>
                        <div class="form-check p-5" style="border: 2px solid #eaeaea;">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="paymentBankTransfer" value="option2">
                            <label class="form-check-label font-weight-bold" for="paymentBankTransfer" style="font-size: 2em; margin-top: -0.4em; margin-left: 0.5em">
                                Pay with Bank Transfer
                            </label>
                            <p class="mt-3" style="margin-left: 1em">Lorem ipsum dolor amet, signed Bank Transfer Payment</p>
                        </div>
                        <div class="form-check p-5" style="border: 2px solid #eaeaea;">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="paymentCash" value="option3">
                            <label class="form-check-label font-weight-bold" for="paymentCash" style="font-size: 2em; margin-top: -0.4em; margin-left: 0.5em">
                                Pay with Cash
                            </label>
                            <p class="mt-3" style="margin-left: 1em">Lorem ipsum dolor amet, signed Cash Payment</p>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row my-5">
                <div class="col">
                    <div class="clearfix">
                        <button type="button" class="btn btn-dark px-5 font-weight-bold white-text float-left">Back</button>
                        <button type="button" class="btn my-orange px-5 font-weight-bold white-text float-right">Next</button>
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>


