
<main>
    <section class="checkout-roadmap">
        <div class="container">
            <div class="row py-5" style="border-bottom: 2px solid #eaeaea; font-size: 1.6em">
                <div class="col d-flex justify-content-center">
                    <i class="fas fa-home orange-text"></i>
                </div>
                <div class="col d-flex justify-content-center">
                    <i class="fas fa-shipping-fast orange-text"></i>
                </div>
                <div class="col d-flex justify-content-center">
                    <i class="fas fa-money-check orange-text"></i>
                </div>
                <div class="col d-flex justify-content-center">
                    <i class="fas fa-thumbs-up orange-text"></i>
                </div>
                <div class="col d-flex justify-content-center">
                    <i class="fas fa-check-circle orange-text"></i>
                </div>
            </div>
        </div>
    </section>
    <section id="completedOrderSection">
        <div class="row my-5">
            <div class="col">
                <h1 class="text-center display-3 my-5">Thank your for purchasing!</h1>
                <h3 class="text-center mb-5"><a class="orange-text font-weight-bold" href="#">Go To Homepage</a></h3>
            </div>
        </div>
    </section>
</main>
